body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  /* background-color:  #9d8b84; */
  /* background-color: #8996a6; */
  background-color: #849d8f;
  background-image: url(/img/bg-1.jpg), url(/img/bg-2.jpg), url(/img/bg-3.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.button {
  text-decoration: none;
  border: none;
  color: #ffffff;
  font-weight: 700;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(90deg, rgb(242, 104, 67), rgb(231, 75, 54));
}

.button:hover {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  background: linear-gradient(90deg, rgb(245, 134, 105), rgb(236, 111, 94));
}

.button:active {
  box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
  background: linear-gradient(90deg, rgb(215, 70, 50), rgb(225, 97, 62));
}

.site-navigation {
  list-style: none;
  line-height: 18px;
  font-weight: 700;
}

.site-navigation a {
  text-decoration-color: rgba(255, 255, 255, 0.5);
  color: #ffffff;
}

.site-navigation a:hover {
  text-decoration: none;
  color: #333333;
  background-color: #f8f7f4;
}

.site-navigation a:active {
  border: 1px solid #333333;
}

.site-navigation .site-navigation__current {
  color: #ffffff;
  background-color: #d07058;
}

.dropdown-menu {
  list-style: none;
  background-color: #f8f7f4;
}

.dropdown-menu li {
  color: #323232;
  font-size: 14px;
  line-height: 16px;
}

.dropdown-menu a {
  color: #323232;
  font-weight: 400;
}

.dropdown-menu a:hover {
  background-color: #fbded7;
}

.dropdown-menu a:active {
  border: none;
  background-color: #f6b5a5;
}

.user-navigation {
  list-style: none;
}

.user-navigation a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-navigation a:hover {
  color: #323232;
  background-color: #ffffff;
}

.header-contacts {
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.header-phone {
  font-size: 22px;
  line-height: 24px;
}

.slider-list {
  list-style: none;
}

.slider__item {
  text-align: center;
}

.slider__item-title {
  font-size: 60px;
  line-height: 60px;
}

.slider-button {
  font-size: 32px;
  line-height: 44px;
}

.slider-control {
  list-style: none;
}

.slider-control__button {
  min-height: 1em;
  background-color: #849d8f;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.slider-control__button:hover {
  background-color: #b2c1b7;
  cursor: pointer;
}

.slider-control__button-active {
  background-color: #ffffff;
}

.banner-list {
  list-style: none;
}

.banner__item-raspberry {
  background-color: #84071d;
  background: url(/img/raspberry.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.banner__item-chokolate {
  background-color: #663a1f;
  background: url(/img/chokolate.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.banner__item-title {
  font-size: 35px;
  line-height: 41px;
}

.banner__item-description {
  font-size: 18px;
  line-height: 22px;
}

.catalog-list {
  list-style: none;
}

.catalog__item {
  text-align: center;
}

.catalog__item:hover {
  background-color: #9bafa3;
}

.catalog__item-link a {
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration-color: rgba(255, 255, 255, 0.5);
}

.catalog__item-link a:hover,
.catalog__item-link a:focus,
.catalog__item-link a:active {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.catalog__item-price {
  text-align: left;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.seo {
  color: #323232;
  background-color: #efe4cc;
  background-image: url(/img/wafer.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.seo-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.seo-item {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.blog-news {
  color: #323232;
  background-color: #ffffff;
  background-image: url(/img/strawberry.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.blog-news__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-news a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration-color: rgba(0, 0, 0, 0.5);
}

.blog-news a:hover,
.blog-news a:focus,
.blog-news a:active {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.subscription {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  background-image: url(/img/letter.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.subscription input {
  line-height: 24px;
}

.map {
  color: #323232;
  background-color: #f7f1d9;
  background-image: url(/img/map.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.map-adress {
  /* background-color: #ffffff; */
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.map-adress b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.social-links {
  list-style: none;
}

.social-links a {
  text-decoration: none;
  color: #849d8f;
  background-color: #e6ebe9;
}

.social-links a:hover,
.social-links a:focus {
  background-color: #ffffff;
}

.social-links a:active {
  background-color: #e9e9e9;
}

.footer-menu {
  list-style: none;
}

.footer-menu__item a {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-decoration-color: rgba(255, 255, 255, 0.5);
}

.footer-menu__item a:hover,
.footer-menu__item a:focus,
.footer-menu__item a:active {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.footer-copyright a {
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-decoration-color: rgba(255, 255, 255, 0.5);
}

.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.modal {
  color: #999999;
  background-color: #f8f7f4;
}

.modal input {
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  border: 1px solid #d3d3d2;
}

.modal input:hover {
  border: 2px solid #c7c6c5;
}

.modal-login a {
  color: #323232;
  font-size: 13px;
  text-decoration-color: rgba(0, 0, 0, 0.5);
}

.modal-login a:hover,
.modal-login a:focus,
.modal-login a:active {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.modal-feedback h2 {
  color: #323232;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.modal-feedback input {
  font-size: 16px;
}

















.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
