body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  /* background-color:  #9d8b84; */
  /* background-color: #8996a6; */
  /* background-color: #849d8f; */
  /* background-image: url(/img/bg-1.jpg), url(/img/bg-2.jpg), url(/img/bg-3.jpg); */
  background-image: url(/img/bg-1.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  color: #ffffff;
  font-weight: 700;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(90deg, rgb(242, 104, 67), rgb(231, 75, 54));
  border-radius: 50px;
}

.button:hover {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  background: linear-gradient(90deg, rgb(245, 134, 105), rgb(236, 111, 94));
}

.button:active {
  box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
  background: linear-gradient(90deg, rgb(215, 70, 50), rgb(225, 97, 62));
}

.site-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.index-page {
  background-image: url(/img/slider-big-1.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.container {
  /* background-color: rgba(212, 124, 24, 0.3); */
  margin: 0 auto;
  padding: 0 27px;
}

.main-header {
  margin-bottom: 260px;
}

.inner-page .main-header {
  margin-bottom: 0;
}

.main-header__logo {
  /* background-color: rgba(212, 124, 24, 0.3); */
  width: 154px;
  height: 64px;
  margin-top: 9px;
  margin-right: 24px;
  margin-bottom: 10px;
}

.main-navigation {
  /* background-color: rgba(212, 124, 24, 0.3); */
  display: flex;
  align-items: center;
}

.site-navigation,
.user-navigation {
  /* background-color: rgba(212, 124, 24, 0.3); */
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation {
  /* background-color: rgba(212, 124, 24, 0.3); */
  display: flex;
  flex-wrap: wrap;
  width: 430px;
  line-height: 18px;
  font-weight: 700;
}

.site-navigation > li > a,
.user-navigation > li > a {
  /* background-color: rgba(212, 124, 24, 0.3); */
  display: block;
  padding: 7px 13px;
  color: #ffffff;
}

.site-navigation > li > a:hover,
.site-navigation > li > a:focus {
  text-decoration: none;
  color: #333333;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.site-navigation > li > a:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px rgba(105, 105, 105, 1);
}

.site-navigation .site-navigation__current {
  text-decoration: none;
  color: #ffffff;
  background-color: #d07058;
}

.site-navigation__dropdown {
  position: relative;
}

.site-navigation__dropdown:hover .dropdown-menu,
.site-navigation__dropdown a:focus + .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 37px;
  left: -7px;
  width: 143px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.dropdown-menu li:first-child {
  margin-top: 10px;
}

.dropdown-menu li {
  margin-bottom: 16px;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 5px;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
}

.dropdown-menu li > a {
  text-decoration: none;
  padding: 0;
  color: #323232;
  font-weight: 400;
}

.dropdown-menu li:hover,
.dropdown-menu li:focus {
  background-color: #fbded7;
}

.dropdown-menu li:active {
  background-color: #f6b5a5;
}

.user-navigation {
  /* background-color: rgba(212, 124, 24, 0.3); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 270px;
  margin-left: auto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-navigation > li > a {
  position: relative;
  padding-left: 32px;
  text-decoration: none;
  background-color: #9db1a5;
  border-radius: 15px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #333333;
  background-color: #f8f7f4;
}

.user-navigation a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-position: top 8px left 8px;
  background-repeat: no-repeat;
}

.search-link::before {
  background-image: url(/img/loupe-white.svg);
  border-radius: 50%;
}

.login-link::before {
  background-image: url(/img/entrance-white.svg);
}

.basket-link::before {
  background-image: url(/img/basket-white.svg);
}

.search-link:hover::before,
.search-link:focus::before {
  background-image: url(/img/loupe-black.svg);
}

.login-link:hover::before,
.login-link:focus::before {
  background-image: url(/img/entrance-black.svg);
}

.basket-link:hover::before,
.basket-link:focus::before {
  background-image: url(/img/basket-black.svg);
}

.header-contacts {
  /* background-color: rgba(212, 124, 24, 0.3); */
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.header-phone {
  font-size: 22px;
  line-height: 24px;
}

.slider {
  /* background-color: rgba(212, 124, 24, 0.3); */
  position: relative;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  text-align: center;
}

.slider__item-title {
  width: 680px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
}

.slider-button {
  padding: 16px 40px;
  font-size: 32px;
  line-height: 44px;
}

.slider-control {
  position: absolute;
  bottom: 25px;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-control__item {
  display: inline-block;
  margin-right: 8px;
}

.slider-control__button {
  min-height: 1em;
  background-color: #849d8f;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.slider-control__button:hover {
  background-color: #b2c1b7;
  cursor: pointer;
}

.slider-control__button-active {
  background-color: #ffffff;
}

.banners {
  /* background-color: rgba(212, 124, 24, 0.3); */
  margin-bottom: 35px;
}

.banner-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.banner__item {
  /* background-color: rgba(212, 124, 24, 0.3); */
  position: relative;
  width: 560px;
  min-height: 228px;
  border-radius: 15px;
  background-color: #84071d;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.banner__item:first-child {
  background: url(/img/raspberry.jpg);
}

.banner__item:last-child {
  background: url(/img/chokolate.jpg);
}

.banner__item-title {
  /* background-color: rgba(212, 124, 24, 0.3); */
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 0;
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 41px;
}

.banner__item-description {
  /* background-color: rgba(212, 124, 24, 0.3); */
  margin: 0;
  margin-left: 20px;
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 22px;
}

.banner-button {
  box-sizing: border-box;
  position: absolute;
  right: 20px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  /* background-color: rgba(212, 124, 24, 0.3); */
  position: relative;
  display: flex;
  flex-direction: column;
  width: 267px;
  text-align: center;
}

.catalog__item:hover {
  background-color: #9bafa3;
}

.catalog__item:hover .catalog-button {
  visibility: visible;
}

.catalog__item h3 {
  order: 1;
  margin: 0;
  margin: 17px auto;
}

.catalog__item-link a {
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  /* background-color: rgba(212, 124, 24, 0.3); */
}

.catalog__item-link a:hover,
.catalog__item-link a:focus,
.catalog__item-link a:active {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.catalog__item-image {
  width: 267px;
  height: 267px;
  margin: 0;
  border-radius: 50%;
}

.catalog__item-price {
  /* background-color: rgba(212, 124, 24, 0.3); */
  position: absolute;
  top: 170px;
  text-align: left;
  font-size: 38px;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog__item-price b {
  position: relative;
  padding-right: 26px;
}

.catalog__item-price b::after {
  content: '';
  position: absolute;
  right: -5px;
  bottom: 8px;
  width: 26px;
  height: 31px;
  background-image: url(/img/ruble.svg);
}

.catalog-button {
  order: 2;
  box-sizing: border-box;
  margin: 0 auto;
  visibility: hidden;
  margin-bottom: 20px;
}

.seo {
  /* background-color: rgba(212, 124, 24, 0.3); */
  position: relative;
  width: 1148px;
  min-height: 306px;
  margin-bottom: 40px;
  border-radius: 15px;
  color: #323232;
  background-color: #efe4cc;
  background-image: url(/img/pattern-wafer.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.seo-title {
  /* background-color: rgba(212, 124, 24, 0.3); */
  margin: 0;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.column-wrap {
  /* background-color: rgba(212, 124, 24, 0.3); */
  display: flex;
  justify-content: space-between;
}

.seo-item__wrap {
  width: 560px;
  margin: 0;
  padding-left: 70px;
}

.seo-item__wrap:last-child {
  padding-right: 26px;
}

.seo-item {
  /* background-color: rgba(212, 124, 24, 0.3); */
  position: relative;
  margin: 0;
  margin-bottom: 25px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.seo-item::before {
  content: '';
  position: absolute;
  top: -18px;
  left: -57px;
  width: 51px;
  height: 51px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.seo-ice::before {
  background-image: url(/img/ice-cream.svg);
}

.seo-eco::before {
  background-image: url(/img/eco.svg);
}

.seo-cow::before {
  background-image: url(/img/cow.svg);
}

.seo-termo::before {
  background-image: url(/img/thermometer.svg);
}

.blog-news {
  /* background-color: rgba(212, 124, 24, 0.3); */
  width: 560px;
  min-height: 220px;
  border-radius: 15px;
  color: #323232;
  background-color: #ffffff;
  background-image: url(/img/strawberry.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.blog-news__title {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 25px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-news a {
  display: inline-block;
  width: 280px;
  padding-left: 20px;
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration-color: rgba(0, 0, 0, 0.5);
}

.blog-news a:hover,
.blog-news a:focus,
.blog-news a:active {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.subscription {
  /* background-color: rgba(212, 124, 24, 0.3); */
  z-index: 1;
  position: relative;
  width: 560px;
  min-height: 220px;
  border-radius: 15px;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  background-image: url(/img/letter.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.subscription::before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  width: 548px;
  min-height: 208px;
  background-image: url(/img/pattern-light.jpg);
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 15px;
}

.subscription-desc {
  margin: 0;
  margin-bottom: 35px;
  padding-top: 35px;
  padding-left: 26px;
  padding-right: 26px;
}

.subscription-form {
  display: flex;
}

.subscription input {
  width: 370px;
  height: 42px;
  margin-left: 26px;
  padding-left: 15px;
  line-height: 24px;
  border: 1px solid #d3d3d2;
  border-radius: 10px;
}

.map {
  /* background-color: rgba(212, 124, 24, 0.3); */
  position: relative;
  width: 1200px;
  min-height: 430px;
  margin: 0 -27px;
  margin-top: 40px;
  color: #323232;
  background-color: #f7f1d9;
  background-image: url(/img/map.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.map-adress {
  position: absolute;
  right: 27px;
  top: 62px;
  width: 300px;
  min-height: 305px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ffffff;
  border-radius: 15px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.map-adress__office {
  /* background-color: rgba(212, 124, 24, 0.3); */
  margin: 0;
  margin-bottom: 25px;
  padding-top: 30px;
}

.map-adress b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.map-adress__phone {
  /* background-color: rgba(212, 124, 24, 0.3); */
  margin: 0;
  margin-bottom: 25px;
}

.feedback-link {
  /* background-color: rgba(212, 124, 24, 0.3); */
  margin: 0;
}

.feedback-link a {
  display: block;
  text-align: center;
}

.breadcrumbs {
  /* background-color: rgba(212, 124, 24, 0.3); */
  display: flex;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  position: relative;
  padding-right: 20px;
}

.breadcrumbs-link::after {
  content: '»';
  position: absolute;
  right: 6px;
}

.breadcrumbs-item,
.breadcrumbs-item a {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:focus,
.breadcrumbs-item a :active {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.catalog-title {
  /* background-color: rgba(212, 124, 24, 0.3); */
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.filters {
  /* background-color: rgba(212, 124, 24, 0.3); */
  margin-bottom: 35px;
}

.filters-wrap {
  /* background-color: rgba(212, 124, 24, 0.3); */
  display: flex;
  justify-content: space-between;
  width: 860px;
  margin-bottom: 15px;
}

.filters-wrap:last-child {
  margin: 0;
}

.filters fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filters legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-select {
  width: 195px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border: none;
}

.filter-select:hover {
  color: #323232;
  background-color: #9db1a5;
}

.filter-range {
  width: 220px;
}

.filter-fat {
  width: 420px;
}

.filter-fillers {
  width: 705px;
}

.filter-select,
.filter-range,
.filter-list {
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 6px;
  background-color: #abbcb2;
  border-radius: 15px;
}

.filter-range {
  padding-top: 3px;
  padding-bottom: 3px;
}

.filter-list {
  display: flex;
  margin: 0;
  list-style: none;
}

.filter-option {
  /* background-color: rgba(212, 124, 24, 0.3); */
  padding-right: 20px;
}

.filter-fat .filter-option:first-child {
  padding-right: 5px;
}

.filter-fat label,
.filter-fillers label {
  position: relative;
  padding-left: 32px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filter-fat label::before {
  content: '';
  position: absolute;
  left: 5px;
  width: 25px;
  height: 25px;
  background-image: url(/img/radio-off.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.filter-fat input[type="radio"]:checked + label::before {
  background-image: url(/img/radio-on.svg);
}

.filter-fillers label::before {
  content: '';
  position: absolute;
  left: 5px;
  width: 25px;
  height: 25px;
  background-image: url(/img/checkbox-off.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-fillers input[type="checkbox"]:checked + label::before {
  background-image: url(/img/checkbox-on.svg);
}

.filter-button {
  height: 36px;
  margin-top: 20px;
  padding: 6px 25px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: #a6b7ae;
  border: 2px solid #fcfcfc;
  border-radius: 50px;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;
  background-color: #fbfcfb;
}

.filter-button:active {
  background-color: #eaeaea;
  box-shadow: inset 0 2px 1px rgba(105, 105, 105, 1);
}

.paginator-list {
  /* background-color: rgba(212, 124, 24, 0.3); */
  display: flex;
  justify-content: space-between;
  width: 190px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.paginator-item__link {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 50%;
}

.paginator-item__link:hover,
.paginator-item__link:focus {
  background-color: #9db1a5;
}

.paginator-item__link:active {
  color: #323232;
  background-color: #ffffff;
}

.paginator-item__back,
.paginator-item__next {
  position: relative;
  margin-left: 10px;
}

.paginator-item__back::before,
.paginator-item__next::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -12px;
  width: 8px;
  height: 12px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.paginator-item__back::before {
  background-image: url(/img/icon-left-small.svg);
}

.paginator-item__next::before {
  background-image: url(/img/icon-right-small.svg);
}

.paginator-list .paginator-current {
  color: #323232;
  background-color: #ffffff;
}

.main-footer {
  /* background-color: rgba(212, 124, 24, 0.3); */
  min-height: 103px;
  display: flex;
  justify-content: space-between;
}

.social-links {
  /* background-color: rgba(212, 124, 24, 0.3); */
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-links a {
  text-decoration: none;
  color: #849d8f;
  background-color: #e6ebe9;
}

.social-links a:hover,
.social-links a:focus {
  background-color: #ffffff;
}

.social-links a:active {
  background-color: #e9e9e9;
}

.social-links__item::before {
  content: '';
  position: absolute;
  top: 35px;
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  background-position: 0 0;
  background-repeat: no-repeat;
  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.social-twitter::before {
  background-image: url(/img/twitter-grey.svg);
}

.social-instagram::before {
  left: 50px;
  background-image: url(/img/instagram.-grey.svg);
}

.social-facebook::before {
  left: 100px;
  background-image: url(/img/fb-grey.svg);
}

.social-vk::before {
  left: 150px;
  background-image: url(/img/vk-grey.svg);
}

.social-links__item:hover::before {
  cursor: pointer;
}

.social-twitter:hover::before,
.social-twitter:focus::before {
  background-image: url(/img/twitter.svg);
}

.social-instagram:hover::before {
  left: 50px;
  background-image: url(/img/instagram.svg);
}

.social-facebook:hover::before,
.social-facebook:focus::before {
  left: 100px;
  background-image: url(/img/fb.svg);
}

.social-vk:hover::before,
.social-vk:focus::before {
  left: 150px;
  background-image: url(/img/vk.svg);
}

.social-twitter:active::before {
  background-image: url(/img/twitter-grey.svg);
}

.social-instagram:active::before {
  left: 50px;
  background-image: url(/img/instagram.-grey.svg);
}

.social-facebook:active::before {
  left: 100px;
  background-image: url(/img/fb-grey.svg);
}

.social-vk:active::before {
  left: 150px;
  background-image: url(/img/vk-grey.svg);
}

.footer-menu {
  /* background-color: rgba(212, 124, 24, 0.3); */
  margin: 0;
  margin-top: 35px;
  padding: 0;
  list-style: none;
}

.footer-column {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.footer-menu__item {
  padding-left: 25px;
}

.footer-menu__item a {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  /* background-color: rgba(212, 124, 24, 0.3); */
}

.footer-menu__item a:hover,
.footer-menu__item a:focus,
.footer-menu__item a:active {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.menu-heart {
  position: relative;
}

.menu-heart::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 3px;
  width: 15px;
  height: 13px;
  background-image: url(/img/heart.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer-copyright {
  /* background-color: rgba(212, 124, 24, 0.3); */
  margin: 0;
  margin-top: 18px;
  margin-bottom: 5px;
  padding: 0;
}

.footer-copyright a {
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  /* background-color: rgba(212, 124, 24, 0.3); */
}

.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.main-footer__logo {
  display: inline-block;
  width: 108px;
  height: 39px;
}

.modal {
  color: #999999;
  background-color: #f8f7f4;
}

.modal input,
.modal textarea {
  color: #999999;
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.modal input:hover,
.modal textarea:hover {
  border: 1px solid #c7c6c5;
}

.modal-search {
  width: 342px;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.modal-search p {
  margin: 0;
}

.modal-search input {
  box-sizing: border-box;
  width: 310px;
  margin: 20px 15px;
  padding-top: 9px;
  padding-left: 14px;
  padding-right: 0;
  padding-bottom: 9px;
}

.modal-login {
  width: 276px;
  padding-top: 20px;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.login-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
}

.login-wrap p {
  order: 2;
  width: 125px;
}

.login-button {
  width: 100px;
  height: 45px;
}

.modal-login p {
  margin: 0;
  margin-left: 18px;
  margin-bottom: 20px;
}

.modal-login input {
  box-sizing: border-box;
  width: 240px;
  padding-top: 9px;
  padding-left: 14px;
  padding-right: 0;
  padding-bottom: 9px;
}

.modal-login a {
  color: #323232;
  font-size: 13px;
  text-decoration-color: rgba(0, 0, 0, 0.5);
}

.modal-login a:hover,
.modal-login a:focus,
.modal-login a:active {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.modal-feedback {
  display: none;
  position: fixed;
  top: 5px;
  left: 50%;
  width: 477px;
  margin-left: -238px;
  padding-top: 20px;
  padding-right: 35px;
  border-radius: 15px;
  z-index: 5;
}

.modal-feedback h2 {
  margin: 0;
  margin-left: 24px;
  margin-bottom: 20px;
  color: #323232;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.modal-feedback p {
  margin: 0;
  margin-left: 24px;
  margin-bottom: 20px;
}

.modal-feedback input {
  width: 267px;
  padding-top: 9px;
  padding-left: 14px;
  padding-right: 0;
  padding-bottom: 9px;
  font-size: 16px;
}

.modal-feedback textarea {
  width: 428px;
  padding-top: 9px;
  padding-left: 14px;
}

.feedback-button {
  width: 140px;
  align-self: flex-end;
  margin-bottom: 40px;
}

.modal-close {
  position: absolute;
  top: 1px;
  right: 25px;
  width: 18px;
  height: 17px;
  /* background-color: #84071d; */
  background-image: url(/img//cross-big.svg);
  font-size: 0;
  border: 0;
  cursor: pointer;
}

.modal-basket {
  /* background-color: rgba(212, 124, 24, 0.3); */
  width: 540px;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.basket-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal-basket h3,
.basket__item-price,
.basket__item-sum {
  color: #323232;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.basket-amount {
  color: #323232;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}
